#barra {
  background-color: black;
  width: 20px;
  height: 150px;
  margin: auto;
}

#semaforo {
  background-color: black;
  width: 150px;
  height: 430px;
  margin: auto;
  border-radius: 10px;
  padding-top: 20px;
  position: relative;
}

.luz {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.roja {
  background-color: red;
}

.amarilla {
  margin-top: 10px;
  background-color: yellow;
}

.verde {
  margin-top: 10px;
  background-color: green;
  margin-bottom: 20px;
}

.purpura {
  background-color: purple;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}

#semaforo .encendido {
  box-shadow: 0 0 30px #FFFFFF;
}
